#profile{
    display: grid;
    width: 960px;
    height: 600px;
    margin: 25px auto;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

#rlist{
    grid-row: 1/1;
    grid-column: 2 / 4;
}

#flist{
    grid-row: 1/1;
    grid-column: 1 / 2;
}

.send-btn{
    grid-row: 2/2;
    grid-column: 1/4;
}