#profile{
    display: grid;
    height: 100%;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#tags{
    grid-row: 1fr;
    grid-column: 1/4;
}

#rlist{
    grid-row: 1fr;
    grid-column: 1 / 2;
}

#details{
    grid-row: auto;
    grid-column: 2 / 4;
}

.hide{
    display: none;
}

#restaurantList {
    height: 100%;
}